@tailwind base;
@tailwind components;
@tailwind utilities;

.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}